%h1 Listing users

%table
  %tr
    %th ID
    %th Name
    %th Email
    %th Points

  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.email
      %td= user.points
      %td= link_to 'Show', user

