%h2 Sign in

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.error_notification
  = f.input :email
  = f.input :password
  = f.input :remember_me, as: :boolean
  = f.submit "Sign in", class: "button"

= render "devise/shared/links"
